-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: growthos
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=97 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_adminrequest`
--

DROP TABLE IF EXISTS `core_adminrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_adminrequest` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_adminrequest_user_id_121ccaec_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_adminrequest_user_id_121ccaec_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_adminrequest`
--

LOCK TABLES `core_adminrequest` WRITE;
/*!40000 ALTER TABLE `core_adminrequest` DISABLE KEYS */;
INSERT INTO `core_adminrequest` VALUES (1,'pending','2026-06-20 16:42:08.371467','2026-06-20 16:42:08.371467',3);
/*!40000 ALTER TABLE `core_adminrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_bookmark`
--

DROP TABLE IF EXISTS `core_bookmark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_bookmark` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `path_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_bookmark_user_id_path_id_24b69923_uniq` (`user_id`,`path_id`),
  KEY `core_bookmark_path_id_a44ea425_fk_core_learningpath_id` (`path_id`),
  CONSTRAINT `core_bookmark_path_id_a44ea425_fk_core_learningpath_id` FOREIGN KEY (`path_id`) REFERENCES `core_learningpath` (`id`),
  CONSTRAINT `core_bookmark_user_id_3cf59058_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_bookmark`
--

LOCK TABLES `core_bookmark` WRITE;
/*!40000 ALTER TABLE `core_bookmark` DISABLE KEYS */;
INSERT INTO `core_bookmark` VALUES (6,'2026-06-16 01:13:40.096574',4,3),(7,'2026-06-17 15:47:46.287068',3,3),(10,'2026-06-18 15:58:00.907810',5,3),(12,'2026-06-18 17:45:51.588023',1,3);
/*!40000 ALTER TABLE `core_bookmark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_chatmessage`
--

DROP TABLE IF EXISTS `core_chatmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_chatmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_chatmessage_user_id_0f2e7cbf_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_chatmessage_user_id_0f2e7cbf_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_chatmessage`
--

LOCK TABLES `core_chatmessage` WRITE;
/*!40000 ALTER TABLE `core_chatmessage` DISABLE KEYS */;
INSERT INTO `core_chatmessage` VALUES (9,'user','What are my current stats and level?','2026-06-21 16:21:49.092535',3),(10,'ai','**Your Current Stats:**\n\n- Level: 6\n- Total XP: 318\n\nYou\'re making progress, \'animeshbro4\'! Time to push forward. What\'s your next question or challenge?','2026-06-21 16:21:49.577297',3);
/*!40000 ALTER TABLE `core_chatmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_contribution`
--

DROP TABLE IF EXISTS `core_contribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_contribution` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `action_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `points` int NOT NULL,
  `user_id` int NOT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_contribution_user_id_98981533_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_contribution_user_id_98981533_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=216 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_contribution`
--

LOCK TABLES `core_contribution` WRITE;
/*!40000 ALTER TABLE `core_contribution` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_contribution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_learningpath`
--

DROP TABLE IF EXISTS `core_learningpath`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_learningpath` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_by_id` int DEFAULT NULL,
  `is_custom` tinyint(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `estimated_weeks` int DEFAULT NULL,
  `original_path_id` bigint DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `visibility` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `github_repo_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `core_learningpath_created_by_id_e7c828fd_fk_auth_user_id` (`created_by_id`),
  KEY `core_learningpath_original_path_id_3845ceb0_fk_core_lear` (`original_path_id`),
  CONSTRAINT `core_learningpath_created_by_id_e7c828fd_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `core_learningpath_original_path_id_3845ceb0_fk_core_lear` FOREIGN KEY (`original_path_id`) REFERENCES `core_learningpath` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_learningpath`
--

LOCK TABLES `core_learningpath` WRITE;
/*!40000 ALTER TABLE `core_learningpath` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_learningpath` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_notedocument`
--

DROP TABLE IF EXISTS `core_notedocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_notedocument` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `filename` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_notedocument_topic_id_01784da0_fk_core_topic_id` (`topic_id`),
  KEY `core_notedocument_user_id_f6bb5634_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_notedocument_topic_id_01784da0_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_notedocument_user_id_f6bb5634_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_notedocument`
--

LOCK TABLES `core_notedocument` WRITE;
/*!40000 ALTER TABLE `core_notedocument` DISABLE KEYS */;
INSERT INTO `core_notedocument` VALUES (2,'note_documents/bulk_id_cards_front_back.pdf','bulk_id_cards_front_back.pdf','2026-06-18 16:31:38.359091',1710,3),(3,'note_documents/Animesh_Gupta_Offer_Letter._2025.pdf','Animesh Gupta Offer Letter. 2025.pdf','2026-06-18 17:47:53.815831',1713,3);
/*!40000 ALTER TABLE `core_notedocument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_otpverification`
--

DROP TABLE IF EXISTS `core_otpverification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_otpverification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `otp` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_otpverification`
--

LOCK TABLES `core_otpverification` WRITE;
/*!40000 ALTER TABLE `core_otpverification` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_otpverification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_pathsharing`
--

DROP TABLE IF EXISTS `core_pathsharing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_pathsharing` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `permission` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `path_id` bigint NOT NULL,
  `shared_by_id` int NOT NULL,
  `shared_to_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_pathsharing_path_id_shared_to_id_06644876_uniq` (`path_id`,`shared_to_id`),
  KEY `core_pathsharing_shared_by_id_9d9fe874_fk_auth_user_id` (`shared_by_id`),
  KEY `core_pathsharing_shared_to_id_ff2c9c10_fk_auth_user_id` (`shared_to_id`),
  CONSTRAINT `core_pathsharing_path_id_f88a1810_fk_core_learningpath_id` FOREIGN KEY (`path_id`) REFERENCES `core_learningpath` (`id`),
  CONSTRAINT `core_pathsharing_shared_by_id_9d9fe874_fk_auth_user_id` FOREIGN KEY (`shared_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `core_pathsharing_shared_to_id_ff2c9c10_fk_auth_user_id` FOREIGN KEY (`shared_to_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_pathsharing`
--

LOCK TABLES `core_pathsharing` WRITE;
/*!40000 ALTER TABLE `core_pathsharing` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_pathsharing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topic`
--

DROP TABLE IF EXISTS `core_topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topic` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `summary` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `order` int NOT NULL,
  `path_id` bigint NOT NULL,
  `created_by_id` int DEFAULT NULL,
  `node_kind` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_topic_path_id_19fcdaa8_fk_core_learningpath_id` (`path_id`),
  KEY `core_topic_slug_b2ab79fa` (`slug`),
  KEY `core_topic_created_by_id_d72866e4_fk_auth_user_id` (`created_by_id`),
  CONSTRAINT `core_topic_created_by_id_d72866e4_fk_auth_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `core_topic_path_id_19fcdaa8_fk_core_learningpath_id` FOREIGN KEY (`path_id`) REFERENCES `core_learningpath` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2748 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topic`
--

LOCK TABLES `core_topic` WRITE;
/*!40000 ALTER TABLE `core_topic` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topic_dependencies`
--

DROP TABLE IF EXISTS `core_topic_dependencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topic_dependencies` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `from_topic_id` bigint NOT NULL,
  `to_topic_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_topic_dependencies_from_topic_id_to_topic_id_7a0b5569_uniq` (`from_topic_id`,`to_topic_id`),
  KEY `core_topic_dependencies_to_topic_id_42583335_fk_core_topic_id` (`to_topic_id`),
  CONSTRAINT `core_topic_dependencies_from_topic_id_17928311_fk_core_topic_id` FOREIGN KEY (`from_topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topic_dependencies_to_topic_id_42583335_fk_core_topic_id` FOREIGN KEY (`to_topic_id`) REFERENCES `core_topic` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=316 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topic_dependencies`
--

LOCK TABLES `core_topic_dependencies` WRITE;
/*!40000 ALTER TABLE `core_topic_dependencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topic_dependencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicfeynman`
--

DROP TABLE IF EXISTS `core_topicfeynman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicfeynman` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `concept` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `explanation` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `feedback` longtext COLLATE utf8mb4_unicode_ci,
  `score` int NOT NULL,
  `is_self_graded` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_topicfeynman_topic_id_f3e8c1e0_fk_core_topic_id` (`topic_id`),
  KEY `core_topicfeynman_user_id_9b11723e_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_topicfeynman_topic_id_f3e8c1e0_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicfeynman_user_id_9b11723e_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicfeynman`
--

LOCK TABLES `core_topicfeynman` WRITE;
/*!40000 ALTER TABLE `core_topicfeynman` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicfeynman` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicflashcard`
--

DROP TABLE IF EXISTS `core_topicflashcard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicflashcard` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cards` json NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_topicflashcard_user_id_topic_id_305dc1ca_uniq` (`user_id`,`topic_id`),
  KEY `core_topicflashcard_topic_id_94a53b3b_fk_core_topic_id` (`topic_id`),
  CONSTRAINT `core_topicflashcard_topic_id_94a53b3b_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicflashcard_user_id_549d42c3_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicflashcard`
--

LOCK TABLES `core_topicflashcard` WRITE;
/*!40000 ALTER TABLE `core_topicflashcard` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicflashcard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicmaterial`
--

DROP TABLE IF EXISTS `core_topicmaterial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicmaterial` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `ai_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ai_feedback` longtext COLLATE utf8mb4_unicode_ci,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  `ai_score` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_topicmaterial_topic_id_c6829df4_fk_core_topic_id` (`topic_id`),
  KEY `core_topicmaterial_user_id_5a4c2e15_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_topicmaterial_topic_id_c6829df4_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicmaterial_user_id_5a4c2e15_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicmaterial`
--

LOCK TABLES `core_topicmaterial` WRITE;
/*!40000 ALTER TABLE `core_topicmaterial` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicmaterial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicnote`
--

DROP TABLE IF EXISTS `core_topicnote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicnote` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_topicnote_user_id_topic_id_e593a064_uniq` (`user_id`,`topic_id`),
  KEY `core_topicnote_topic_id_92d692d0_fk_core_topic_id` (`topic_id`),
  CONSTRAINT `core_topicnote_topic_id_92d692d0_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicnote_user_id_c1a066de_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicnote`
--

LOCK TABLES `core_topicnote` WRITE;
/*!40000 ALTER TABLE `core_topicnote` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicnote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicprogress`
--

DROP TABLE IF EXISTS `core_topicprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicprogress` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `started_at` datetime(6) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_topicprogress_topic_id_b964759f_fk_core_topic_id` (`topic_id`),
  KEY `core_topicprogress_user_id_352fdceb_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_topicprogress_topic_id_b964759f_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicprogress_user_id_352fdceb_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicprogress`
--

LOCK TABLES `core_topicprogress` WRITE;
/*!40000 ALTER TABLE `core_topicprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicquiz`
--

DROP TABLE IF EXISTS `core_topicquiz`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicquiz` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `difficulty` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `questions` json NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_topicquiz_user_id_topic_id_difficulty_4468c6c0_uniq` (`user_id`,`topic_id`,`difficulty`),
  KEY `core_topicquiz_topic_id_557a669c_fk_core_topic_id` (`topic_id`),
  CONSTRAINT `core_topicquiz_topic_id_557a669c_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicquiz_user_id_6107b253_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicquiz`
--

LOCK TABLES `core_topicquiz` WRITE;
/*!40000 ALTER TABLE `core_topicquiz` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicquiz` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_topicscreenshot`
--

DROP TABLE IF EXISTS `core_topicscreenshot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_topicscreenshot` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `caption` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_topicscreenshot_topic_id_21185314_fk_core_topic_id` (`topic_id`),
  KEY `core_topicscreenshot_user_id_dc4ff815_fk_auth_user_id` (`user_id`),
  CONSTRAINT `core_topicscreenshot_topic_id_21185314_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_topicscreenshot_user_id_dc4ff815_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=108 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_topicscreenshot`
--

LOCK TABLES `core_topicscreenshot` WRITE;
/*!40000 ALTER TABLE `core_topicscreenshot` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_topicscreenshot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_userprofile`
--

DROP TABLE IF EXISTS `core_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `current_streak` int NOT NULL,
  `longest_streak` int NOT NULL,
  `selected_path_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  `github_username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `streak_revive_used_at` datetime(6) DEFAULT NULL,
  `selected_title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `github_access_token` longtext COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT (_utf8mb4''),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `core_userprofile_selected_path_id_feaaf8cd_fk_core_lear` (`selected_path_id`),
  CONSTRAINT `core_userprofile_selected_path_id_feaaf8cd_fk_core_lear` FOREIGN KEY (`selected_path_id`) REFERENCES `core_learningpath` (`id`),
  CONSTRAINT `core_userprofile_user_id_5141ad90_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_userprofile`
--

LOCK TABLES `core_userprofile` WRITE;
/*!40000 ALTER TABLE `core_userprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_verifiedproject`
--

DROP TABLE IF EXISTS `core_verifiedproject`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `core_verifiedproject` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `repo_url` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `repo_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ai_evaluation` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `verified_at` datetime(6) NOT NULL,
  `topic_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  `ai_score` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_verifiedproject_user_id_topic_id_b5b6d49c_uniq` (`user_id`,`topic_id`),
  KEY `core_verifiedproject_topic_id_143f2024_fk_core_topic_id` (`topic_id`),
  CONSTRAINT `core_verifiedproject_topic_id_143f2024_fk_core_topic_id` FOREIGN KEY (`topic_id`) REFERENCES `core_topic` (`id`),
  CONSTRAINT `core_verifiedproject_user_id_c34f5c5c_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_verifiedproject`
--

LOCK TABLES `core_verifiedproject` WRITE;
/*!40000 ALTER TABLE `core_verifiedproject` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_verifiedproject` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-21 22:14:14
